/* color variables for easier to remember names */
:root {
  --primary: rgb(101, 183, 135);
  --secondary: #273305;
  --box: #c0a50cd2;
}

/* remove default CSS styling */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
p {
 color:  #9fba5f;
 font-size: 30px;
  
}
body {
  background-color: #116363;

}
header {
  background-color: var(--primary);
  display:flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

header h1 {
  color: var(--secondary);
  font-size: 20px;
  font-weight: bold;
  padding: 5px;
  border: 5px solid var(--box);
}

header a {
  text-decoration: none;
  color: var(--secondary);
}

header ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  align-content: flex-end;
} 
header ul li a {
  padding: 8px;
  font-size: 28px;
  margin: 20px 20px 0 0;
  font-weight: bold;
  
}

header ul li a:hover {
  background: var(--box);
  color: var(--primary);
  border-radius: 15px;
} 
.container {
  padding: 30px;
  justify-content: space-between;
  background-color: rgb(17, 99, 99);
  font-family: Georgia, 'Times New Roman', Times, serif;
  
}
.btn {
  color:gold;
  background: #9fba5f;
  cursor: pointer;
  border-radius: 5px;
  font-size: 20px;
  padding: 5px 12px;
}
.currency select{
  padding: 10px 20px 10px 10px; 
  font-size: 20px;
  background: transparent;
  background-color: #9fba5f;
  color:gold;
  border-radius: 5px;
}
.currency input {
  border: 2px;
  background: lightgray;
  font-size: 30px;
  text-align: right;
}
footer {
  background-color: rgb(11, 116, 107);
}
