/* color variables for easier to remember names */
:root {
  --primary-color: #9fba5f;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
h1{
  color:gold
}
p{
  font-size: 30px;
  color:black;
  
}
body{
  background-color: rgb(78, 108, 7);
  
} 
nav ul li {
  display: flex;
  align-items: center;
  justify-content: right;
}
/*header ul li a:hover {
  background: var(--box);
  color: var(--primary);
  border-radius: 15px;
}*/


.container-one {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: centerS;
  
  
} 
.container-tow {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: centerS;
  border-radius: 5%;
}

.currency select{
  padding: 10px 20px 10px 10px;
  color:gold;
  background-color: var(--primary-color);
  cursor: pointer;
} 
.btn {
  background: gold;
} 
footer {
  
  position:absolute;
  bottom:0;
  width:100%;
  height:100px;
  
} 
/*
@media screen and (max-width: 980px) {
  header {
    padding-bottom: 0;
    justify-content: center;
    position: relative;
  }
  header h1 {
    width: 100%;
    text-align: center;
  }
  header nav ul {
    margin-top: 20px;
    width: 100%;
    justify-content: center;
  }
  header nav ul li a {
    font-size: 20px;
  }
  footer h2, footer div {
    text-align: center;
    width: 100%;
  }


}
*/

@media screen and (max-width:768px) {
  section {
     
    width: 100%;
    padding: 50px 30px;
  }
}

